@import url(normalise.css);
:root {
    --hover-blue-color: #2196F3;
    --gray-color: #757575;
    --white-color: #ffffff;
    --cover-background: #2F303A;
    --black-color: #000;
    --link-color: #212121;
    --contact-bottom-color: rgba(255, 255, 255, 0.6);
}
body {
    font-family: 'Roboto';
    letter-spacing: calc(1em / 33);
}
.header { 
    background-color: var(--white-color);    
}
/* Стили логотипа */
.logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    color: var(--black-color);
}
.logo.logo-bottom {
    color: var(--white-color);
}
.logo-part {
    color: var(--hover-blue-color);
}
/* Стили меню */
.menu {
    color: var(--black-color);
    font-size: 14px;
    font-weight: 500;
}
.menu a {
    color: var(--link-color);
    letter-spacing: calc(1em / 50);
}
.menu-item-link.selected-link {
    color: var(--hover-blue-color);
}
.menu-item-link:hover {
    color: var(--hover-blue-color);
}
.menu-item-link:focus {
    color: var(--hover-blue-color);
}
/* Стили контактов в хеде */
.contact-top {
    color: var(--gray-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: calc(1em / 50);
}
.contact-top:hover {
    color: var(--hover-blue-color);
}
.contact-top:focus {
    color: var(--hover-blue-color);
}
/* Секция 1 Cover */
.cover {
    background-color: var(--cover-background);
}
.title {
    color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: calc(1em / 16.6666);
}
.main-button {
    color: var(--white-color);
    background-color: var(--hover-blue-color);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    cursor: pointer;
    letter-spacing: calc(1em / 16.6666);
}
/* Секция 2 Преимущества */
.benefits {
    color: var(--gray-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: calc(1em / 33);
}
.benefits-title {
    color: var(--link-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: calc(1em / 33);
}
/* Секция 3 Чем мы занимаемся 4 Наша команда */
.second-title {
    color: var(--link-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: calc(1em / 33);
}
.employee-name {
    color: var(--link-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: calc(1em / 33);
}
.employee-profession {
    color: var(--gray-color);
    font-size: 16px;
    letter-spacing: calc(1em / 33);
}
/* Футер */
.footer {
    background-color: var(--cover-background);
}
.contact-bottom {
    color: var(--contact-bottom-color);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: calc(1em / 33);
}
.contact-bottom.map {
    color: var(--white-color);
}
/* Страница Portforlio */
.portfolio button {
    background-color: #F5F4FA;
    color: var(--link-color);
    cursor: pointer;
    font-family: 'Roboto', normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6250;
}
.portfolio button:hover {
    background-color: var(--hover-blue-color);
    color: var(--white-color);
}
.portfolio button:focus {
    background-color: var(--hover-blue-color);
    color: var(--white-color);
}
.portfolio-name {
    font-style: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: calc(1em / 16.6666);
}
.portfolio-type {
    color: var(--gray-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: calc(1em / 33);
}
